node_modules
.pnpm-store
.turbo
dist
coverage
.angular
.idea
.vscode
.DS_Store
.env
.env.*
!.env.example

apps/app/.angular
apps/app/node_modules
apps/app/www
apps/app/platforms
apps/app/plugins

apps/electron/node_modules
apps/electron/dist
apps/electron/release

packages/types/node_modules
packages/types/dist

api/**/bin
api/**/bin*
api/**/obj
api/**/obj*
