:root {
  --ion-color-primary: #3b6f52;
  --ion-color-primary-rgb: 59, 111, 82;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #345f47;
  --ion-color-primary-tint: #4f7d63;

  --ion-color-secondary: #f29f67;
  --ion-color-secondary-rgb: 242, 159, 103;
  --ion-color-secondary-contrast: #1f130b;
  --ion-color-secondary-contrast-rgb: 31, 19, 11;
  --ion-color-secondary-shade: #d58c5b;
  --ion-color-secondary-tint: #f3a972;

  --ion-background-color: #f6f2ea;
  --ion-background-color-rgb: 246, 242, 234;
  --ion-text-color: #1c241e;
  --ion-text-color-rgb: 28, 36, 30;
}
